.cursor {
  background: url('/./src/pages/images/constelation-violette.png') no-repeat 60% 50%/cover !important;
  width: 62px;
  height: 62px;
  border: 1px solid rgb(130, 189, 238);
  box-shadow: 6px 6px 6px rgb(180, 248, 245);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease;
  transition-property: background, transform;
  transition: top 160ms ease-out;
  transition: left 160ms ease-out;
  z-index: 2;
  backdrop-filter: brightness(115%);
  
}
.cursor.hovered {
  width: 30px;
  height: 30px;
}
