.navigation {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  font-size: 1.4rem;
  line-height: 28px;
  color: $color-1;

  &:before {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.199) inset, 0 0 20px 10px rgba(255, 255, 255, 0.199);
    border-radius: 50%;
    background-image: url(../../pages/images/Moon.png);
    background-size: cover;
    top: -100px;
    left: -160px;
    z-index: -1;
    animation: navAnim 40s infinite alternate;

    @keyframes navAnim {
      50% {
        transform: scale(1.6) rotate(180deg);
        
      }
      100% {
        transform: scale(1) rotate(0deg);
        
      }
    }
    @media screen and (max-width: 430px){
      height: 50px;
      width: 50px;
    }
  }
  .nav-active {
    color: $color-1;
  }
  ul:hover li:not(:hover) {
    opacity: .5;
  }
  ul:hover li:hover {
    color: $ice;
  }

  .nav-site {
    cursor: pointer;
    display: flex;
    // padding-right: 6rem;
    transition: .5s;

    &:hover .nav-sites, 
    
    .nav-sites:hover
     {

      visibility: visible;
      opacity: 1;

      li {
        transform: rotatey(0deg)
      }

      
    }

    .nav-sites{
      position: absolute;
      visibility: hidden;
      opacity: 0;
      padding: 0 40px;
      width: 300px;
      transform: translateX(70px);
      transition: .3s ;
      perspective: 500px;

      li {
        transform: rotatey(30deg) scaleX(1.2);
        transform-origin: center;
        transition: .3s;
      }
    }
  }

  .nav-blog {
    cursor: pointer;
    display: flex;
    // padding-right: 6rem;
    transition: .5s;

    &:hover .nav-blogs,  
    .nav-blogs:hover{

      visibility: visible;
      opacity: 1;

      li {
        transform: rotatey(0deg)
      }

      
    }

    .nav-blogs{
      position: absolute;
      visibility: hidden;
      opacity: 0;
      padding: 0 40px;
      width: 300px;
      transform: translateX(70px);
      transition: .3s ;
      perspective: 500px;

      li {
        transform: rotatey(30deg) scaleX(1.2);
        transform-origin: center;
        transition: .3s;
      }
    }
  }
}